<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gerencaiwu.web.controller.system.mapper.ZhaiwuMapper">

    <resultMap type="Zhaiwu" id="ZhaiwuResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="payAmount"    column="payAmount"    />
        <result property="time"    column="time"    />
        <result property="username"    column="username"    />
        <result property="userId"    column="userId"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectZhaiwuVo">
        select z.id, z.name, z.type, z.payAmount, z.time, su.user_name username, z.userId, z.remark
        from a_zhaiwu z left join sys_user su on su.user_id = z.userId

    </sql>

    <select id="selectZhaiwuList" parameterType="Zhaiwu" resultMap="ZhaiwuResult">
        <include refid="selectZhaiwuVo"/>
        <where>
            <if test="name != null  and name != ''"> and z.name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and z.type = #{type}</if>
            <if test="payAmount != null "> and z.payAmount = #{payAmount}</if>
            <if test="timeStart != null and timeEnd != null"> and z.time between #{timeStart} and #{timeEnd}</if>
            <if test="username != null  and username != ''"> and su.user_name like concat('%', #{username}, '%')</if>
            <if test="userId != null "> and userId = #{userId}</if>
        </where>
    </select>

    <select id="selectZhaiwuById" parameterType="Long" resultMap="ZhaiwuResult">
        <include refid="selectZhaiwuVo"/>
        where z.id = #{id}
    </select>

    <insert id="insertZhaiwu" parameterType="Zhaiwu" useGeneratedKeys="true" keyProperty="id">
        insert into a_zhaiwu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="payAmount != null">payAmount,</if>
            <if test="time != null">time,</if>
            <if test="username != null">username,</if>
            <if test="userId != null">userId,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="payAmount != null">#{payAmount},</if>
            <if test="time != null">#{time},</if>
            <if test="username != null">#{username},</if>
            <if test="userId != null">#{userId},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateZhaiwu" parameterType="Zhaiwu">
        update a_zhaiwu
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="payAmount != null">payAmount = #{payAmount},</if>
            <if test="time != null">time = #{time},</if>
            <if test="username != null">username = #{username},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZhaiwuById" parameterType="Long">
        delete from a_zhaiwu where id = #{id}
    </delete>

    <delete id="deleteZhaiwuByIds" parameterType="String">
        delete from a_zhaiwu where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="costZhaiwu">
        update a_zhaiwu set payAmount = payAmount - #{payAmount} where id = #{id}
    </update>
</mapper>
